html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    font-family: castellar, sans-serif;
    color: white;
}

.Container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 15px;
    display: flex;
}

.leftColumn {
    width: 65%;
    position: relative;
}

.rightColumn {
    width: 35%;
    margin-top: 60px;
}

.leftColumn img {
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
}

.productDescription {
    border-bottom: 1px solid #E1E8EE;
    margin-bottom: 20px;
}

    .productDescription span {
        font-size: 12px;
        color: #358ED7;
        letter-spacing: 1px;
        text-transform: uppercase;
        text-decoration: none;
    }

    .productDescription p {
        font-size: 16px;
        font-weight: 300;
        color: #86939E;
        line-height: 24px;
    }

.productPrice {
    display: flex;
    align-items: center;
}

    .productPrice input {
        font-size: 26px;
        font-weight: 300;
        color: #43474D;
        margin-right: 20px;
    }

.Cartbtn {
    display: inline-block;
    background-color: #7DC855;
    border-radius: 6px;
    font-size: 16px;
    color: #FFFFFF;
    text-decoration: none;
    padding: 12px 30px;
    transition: all .5s;
}

    .Cartbtn:hover {
        background-color: #64af3d;
    }
